{% extends 'base.html' %}

{% block title %}To-Do List | About Me!{% endblock %}


{% block content %}
<h1>Tja waar gaat dit eigenlijk over!!</h1>

<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light">Custom column padding</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Custom column padding</div>
    </div>
  </div>
</div>
<tr>
    <picture> placeholder</picture>
</tr>

<p>My name is {{ first_name }} {{ last_name }}</p>
{% endblock %}